@font-face {
  font-family: 'Bebas';
  src: url(../fonts/Bebas/BEBAS___.ttf); }

@font-face {
  font-family: 'Caviar';
  src: url(../fonts/Caviar_Dreams_Bold.ttf); }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

#head {
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 8em;
  text-align: center;
  font-family: "Caviar";
  border-bottom: 6px solid pink;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  #head:last-child {
    margin-right: 0; }

#mainer {
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px; }
  #mainer::after {
    clear: both;
    content: "";
    display: table; }
  #mainer a {
    color: black; }
    #mainer a:visited {
      color: black; }

#rowOne, #rowTwo {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  #rowOne:last-child, #rowTwo:last-child {
    margin-right: 0; }

#one, #two, #three, #four {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  #one:last-child, #two:last-child, #three:last-child, #four:last-child {
    margin-right: 0; }

.svgeez {
  list-style: none;
  margin-bottom: 10px; }

.landingCircles {
  float: left;
  margin-left: 0.5em;
  width: 10em;
  height: 10em;
  background-color: pink;
  margin-right: 30px;
  margin-left: 20%;
  border-radius: 50%;
  border: 5px solid black; }

.wurdz {
  display: block;
  display: inline-block;
  margin-top: 30px;
  margin-left: 10px;
  font-family: "Caviar";
  font-size: 6em;
  text-transform: uppercase; }

#moveRow {
  margin-left: 34.11922%;
  margin-top: 20px;
  clear: both; }

#nav, #next {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  background-color: lightgreen;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 1.5em;
  background-color: pink;
  margin-bottom: 30px;
  margin-top: 50px;
  border: 4px solid black; }
  #nav:last-child, #next:last-child {
    margin-right: 0; }
  #nav a, #next a {
    position: absolute;
    margin-left: 22px;
    margin-top: 5px;
    text-decoration: none;
    color: black;
    font-family: "Caviar"; }

#socialRow {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-left: 34.11922%;
  text-align: center; }
  #socialRow:last-child {
    margin-right: 0; }
  #socialRow .sosh {
    height: 2em;
    width: 2em; }

#iconCreditLine {
  text-align: center;
  font-size: 0.3em;
  font-family: helvetica;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 10%;
  clear: both; }
  #iconCreditLine a {
    text-decoration: none;
    color: #ff8b94; }
  #iconCreditLine span {
    color: #add8e6; }

#resumeBox {
  margin-top: 0px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 600px;
  margin-bottom: 30px; }
  #resumeBox:last-child {
    margin-right: 0; }

.toggleHeads {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: pink;
  font-family: "Caviar";
  font-size: 2em;
  color: black;
  text-transform: uppercase;
  font-weight: bold; }
  .toggleHeads:last-child {
    margin-right: 0; }

.abouts {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  font-family: "Caviar";
  text-align: center;
  display: none; }
  .abouts:last-child {
    margin-right: 0; }
  .abouts a {
    text-decoration: none;
    color: lightblue; }
    .abouts a:visited {
      color: lightblue; }

#dctLander {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  height: 350px;
  margin-bottom: 50px;
  padding: 5px;
  display: none; }
  #dctLander:last-child {
    margin-right: 0; }

#stacksContainer {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  margin-bottom: 50px;
  height: 300px;
  display: none; }
  #stacksContainer:last-child {
    margin-right: 0; }

#learningAbout a {
  color: lightblue; }
  #learningAbout a:visited {
    color: lightblue; }

.mean {
  width: 270px; }

#meanStack {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  #meanStack:last-child {
    margin-right: 0; }

#rower {
  display: block; }
  #rower::after {
    clear: both;
    content: "";
    display: table; }

.virtual {
  height: 50px;
  width: 50px; }

#vr {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-top: 40px; }
  #vr:last-child {
    margin-right: 0; }

#moz {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 80px; }
  #moz:last-child {
    margin-right: 0; }

#google {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  height: 90px;
  width: 134px;
  margin-top: 30px; }
  #google:last-child {
    margin-right: 0; }

#youtube {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  height: 150px; }
  #youtube:last-child {
    margin-right: 0; }

#gitLink {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  margin-left: 42.64902%;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
  color: black;
  display: none; }
  #gitLink:last-child {
    margin-right: 0; }
  #gitLink:visited {
    color: black; }

#gitPic {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  margin-left: 42.64902%;
  display: none; }
  #gitPic:last-child {
    margin-right: 0; }

#bot {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  display: none; }
  #bot:last-child {
    margin-right: 0; }

#pinkBox {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  background-color: pink;
  border: 4px solid black;
  border-radius: 12%;
  display: none; }
  #pinkBox:last-child {
    margin-right: 0; }

#slickPics {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  margin-top: 20px;
  margin-bottom: 20px; }
  #slickPics:last-child {
    margin-right: 0; }

.caroPics {
  width: 390px;
  height: 200px; }

@media (max-width: 699px) {
  #stacksContainer {
    height: 10px; }
    #stacksContainer img {
      display: none; }
  .landingCircles {
    width: 7em;
    height: 7em;
    margin-top: 10px;
    margin-left: 15%; }
  .wurdz {
    font-size: 5em;
    margin-bottom: 10px;
    margin-top: 20px; } }

@media only screen and (max-device-width: 667px) and (-webkit-device-pixel-ratio: 2) {
  .toggleHeads {
    background-color: lightgreen; } }

@media (min-width: 1000px) {
  #mainer {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto; }
    #mainer::after {
      clear: both;
      content: "";
      display: table; }
  #head {
    margin-top: 20px;
    font-size: 7em;
    background-image: url(../images/bigWaterTower.jpg);
    background-size: 876px 318px;
    background-repeat: false;
    background-position: 0% 20%;
    height: 300px; }
  #head span {
    position: absolute;
    margin-left: 60px;
    margin-top: 80px; }
  #mainer {
    margin-bottom: 70px; }
  #rowOne, #rowTwo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    #rowOne:last-child, #rowTwo:last-child {
      margin-right: 0; }
  .landingCircles {
    width: 7em;
    height: 7em;
    margin-left: 50px;
    margin-right: 0px; }
  .wurdz {
    margin-top: 10px;
    text-align: center;
    font-size: 5em; } }
