@font-face {
  font-family: 'Bebas';
  src: url(../fonts/Bebas/BEBAS___.ttf); }

@font-face {
  font-family: 'Caviar';
  src: url(../fonts/Caviar_Dreams_Bold.ttf); }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

#head {
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 10em;
  text-align: center;
  font-family: "Caviar";
  border-bottom: 6px solid pink;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  #head:last-child {
    margin-right: 0; }

#mainer {
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px; }
  #mainer::after {
    clear: both;
    content: "";
    display: table; }

#rowOne, #rowTwo {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  #rowOne:last-child, #rowTwo:last-child {
    margin-right: 0; }

#one, #two, #three, #four {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  #one:last-child, #two:last-child, #three:last-child, #four:last-child {
    margin-right: 0; }

.svgeez {
  list-style: none;
  margin-bottom: 10px; }

.landingCircles {
  float: left;
  margin-left: 0.5em;
  width: 14em;
  height: 14em;
  background-color: pink;
  margin: 0px 30px 0px 80px;
  border-radius: 50%;
  border: 5px solid black; }

.wurdz {
  display: block;
  display: inline-block;
  margin-top: 30px;
  margin-left: 20px;
  font-family: "Caviar";
  font-size: 9em;
  text-transform: uppercase; }

#homeButton {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%;
  margin-left: 42.64902%;
  background-color: lightgreen;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 1.5em;
  background-color: pink;
  margin-bottom: 30px;
  margin-top: 50px;
  border: 4px solid black; }
  #homeButton:last-child {
    margin-right: 0; }
  #homeButton a {
    position: absolute;
    margin-left: 18px;
    margin-top: 3px;
    text-decoration: none;
    color: black;
    font-family: "Caviar"; }

#resumeBox {
  margin-top: 0px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 600px;
  margin-bottom: 30px; }
  #resumeBox:last-child {
    margin-right: 0; }

.toggleHeads {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: pink;
  font-family: "Caviar";
  font-size: 2em;
  color: black;
  text-transform: uppercase;
  font-weight: bold; }
  .toggleHeads:last-child {
    margin-right: 0; }

.abouts {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  font-family: "Caviar";
  text-align: center;
  display: none; }
  .abouts:last-child {
    margin-right: 0; }

#dctLander {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  height: 350px;
  margin-bottom: 50px;
  padding: 5px;
  display: none; }
  #dctLander:last-child {
    margin-right: 0; }

#stacksContainer {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  margin-bottom: 50px;
  padding: 5px;
  height: 300px;
  background-color: gray;
  display: none; }
  #stacksContainer:last-child {
    margin-right: 0; }

#stackHead {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: pink;
  font-family: "Caviar";
  color: black; }

.mean {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  margin-left: 10px;
  background-color: lightblue; }
  .mean:last-child {
    margin-right: 0; }

.top {
  margin-bottom: 13px; }

#lampStack {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-top: 30px; }
  #lampStack:last-child {
    margin-right: 0; }

#thisGit {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%;
  display: none; }
  #thisGit:last-child {
    margin-right: 0; }

#bot {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  display: none; }
  #bot:last-child {
    margin-right: 0; }

#iconCreditLine {
  text-align: center;
  font-size: 0.3em;
  font-family: helvetica;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 10%; }
  #iconCreditLine a {
    text-decoration: none;
    color: #ff8b94; }
  #iconCreditLine span {
    color: #add8e6; }

@media (min-width: 988px) {
  #head {
    margin-top: 20px;
    font-size: 7em;
    background-image: url(../images/bigWaterTower.jpg);
    background-size: 876px 318px;
    background-repeat: false;
    background-position: 0% 20%;
    height: 300px; }
  #head span {
    position: absolute;
    margin-left: 50px;
    margin-top: 70px; }
  #mainer {
    margin-bottom: 70px; }
  #rowOne, #rowTwo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    #rowOne:last-child, #rowTwo:last-child {
      margin-right: 0; }
  .landingCircles {
    width: 7em;
    height: 7em;
    margin-left: 40px;
    margin-right: 0px; }
  .wurdz {
    margin-top: 15px;
    text-align: center;
    font-size: 5em; } }
