body {
  background-color: limegreen; }

.circle-container {
  position: relative;
  width: 35em;
  height: 35em;
  border-radius: 50%;
  list-style: none;
  margin: 0 auto;
  width: 350px;
  height: 380px;
  margin-top: 190px;
  border: solid 6px #dcedc1;
  background-image: url(../images/woody.jpg); }
  .circle-container > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5em;
    height: 5em;
    margin: -2.5em; }
    .circle-container > *:nth-of-type(1) {
      transform: rotate(0deg) translate(17.5em) rotate(0deg); }
    .circle-container > *:nth-of-type(2) {
      transform: rotate(30deg) translate(17.5em) rotate(-30deg); }
    .circle-container > *:nth-of-type(3) {
      transform: rotate(60deg) translate(17.5em) rotate(-60deg); }
    .circle-container > *:nth-of-type(4) {
      transform: rotate(90deg) translate(17.5em) rotate(-90deg); }
    .circle-container > *:nth-of-type(5) {
      transform: rotate(120deg) translate(17.5em) rotate(-120deg); }
    .circle-container > *:nth-of-type(6) {
      transform: rotate(150deg) translate(17.5em) rotate(-150deg); }
    .circle-container > *:nth-of-type(7) {
      transform: rotate(180deg) translate(17.5em) rotate(-180deg); }
    .circle-container > *:nth-of-type(8) {
      transform: rotate(210deg) translate(17.5em) rotate(-210deg); }
    .circle-container > *:nth-of-type(9) {
      transform: rotate(240deg) translate(17.5em) rotate(-240deg); }
    .circle-container > *:nth-of-type(10) {
      transform: rotate(270deg) translate(17.5em) rotate(-270deg); }
    .circle-container > *:nth-of-type(11) {
      transform: rotate(300deg) translate(17.5em) rotate(-300deg); }
    .circle-container > *:nth-of-type(12) {
      transform: rotate(330deg) translate(17.5em) rotate(-330deg); }
  .circle-container img {
    width: 70%;
    height: 70%;
    transition: .15s;
    padding: 10px; }

.svgeez {
  border: 5px solid lightblue;
  border-radius: 50%; }

#iconCreditLine {
  text-align: center;
  font-size: 0.3em;
  font-family: helvetica;
  width: 40%;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 10%; }
  #iconCreditLine a {
    text-decoration: none;
    color: #ff8b94; }
  #iconCreditLine span {
    color: #add8e6; }
