@font-face {
  font-family: 'Bebas';
  src: url(../fonts/Bebas/BEBAS___.ttf); }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

#head {
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 10em;
  text-align: center;
  font-family: "Bebas";
  border-bottom: 6px solid pink;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  #head:last-child {
    margin-right: 0; }

#mainer {
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  #mainer::after {
    clear: both;
    content: "";
    display: table; }

#rowOne, #rowTwo {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  #rowOne:last-child, #rowTwo:last-child {
    margin-right: 0; }
  @media (min-width: 988px) {
    #rowOne, #rowTwo {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      #rowOne:last-child, #rowTwo:last-child {
        margin-right: 0; }
      #rowOne #head, #rowTwo #head {
        font-size: 6px; }
      #rowOne img, #rowTwo img {
        width: 7em;
        height: 7em;
        background-color: lightgreen;
        margin-left: 40px;
        margin-right: 0px; }
      #rowOne .wurdz, #rowTwo .wurdz {
        text-align: center;
        background-color: lightblue;
        font-size: 4em; } }

#one, #two, #three, #four {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  #one:last-child, #two:last-child, #three:last-child, #four:last-child {
    margin-right: 0; }

.svgeez {
  list-style: none;
  margin-bottom: 10px; }

img {
  float: left;
  margin-left: 0.5em;
  width: 14em;
  height: 14em;
  background-color: pink;
  margin: 0px 30px 0px 80px;
  border-radius: 50%;
  border: 5px solid black; }

.wurdz {
  display: block;
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
  font-family: "Bebas";
  font-size: 9em; }

#iconCreditLine {
  text-align: center;
  font-size: 0.3em;
  font-family: helvetica;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 10%; }
  #iconCreditLine a {
    text-decoration: none;
    color: #ff8b94; }
  #iconCreditLine span {
    color: #add8e6; }
