html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.svgeez {
  border: 5px solid lightblue;
  list-style: none;
  padding: 10px;
  margin-bottom: 30px; }

#iconCreditLine {
  text-align: center;
  font-size: 0.3em;
  font-family: helvetica;
  width: 40%;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 10%; }
  #iconCreditLine a {
    text-decoration: none;
    color: #ff8b94; }
  #iconCreditLine span {
    color: #add8e6; }
