@font-face {
  font-family: 'Bebas';
  src: url(../fonts/Bebas/BEBAS___.ttf);
}

@import "bourbon/_bourbon.scss";
@import "neat/_neat.scss";
@import "includemedia.scss";

$bebas: 'Bebas';


#head {
  margin-bottom: 50px;
  font-size: 10em;
  text-align: center;
  font-family: $bebas;
  border-bottom: 5px solid pink;
  @include span-columns(12 of 12);
  
}

// start Neat grid
#mainer{
  @include outer-container(400px);
}

#rowOne, #rowTwo {
  @include span-columns(12 of 12);
}

#one, #two, #three, #four {
  @include span-columns(12 of 12);
}

// start vector class styling
.svgeez {
  list-style: none;
  margin-bottom: 10px;
}

// vecetor style
img {
  float: left;
  margin-left: 0.5em;
  width: 10em;
  height: 10em;
  background-color: pink;
  margin: 0px 10px 0px 20px;
  border-radius: 50%;
  border: 5px solid black;
}

//vector label styling
.wurdz {
  display: block;
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
  font-family: $bebas;
  font-size: 6em;
}

//footer
#iconCreditLine {
  text-align: center;
  font-size: 0.3em;
  font-family: helvetica;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 10%;

  a {
    text-decoration: none;
    color: #ff8b94;
  }

  span {
    color: #add8e6;
  }
}

