@font-face {
  font-family: 'Bebas';
  src: url(../fonts/Bebas/BEBAS___.ttf);
}
$bebas: 'Bebas';

@import "bourbon/_bourbon.scss";
@import "neat/_neat.scss";

@import "includemedia.scss";
$breakpoints: (phone: 980px, tablet: 1000px, desktop: 988px);

$primarySkin: pink;

#head {
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 10em;
  text-align: center;
  font-family: $bebas;
  border-bottom: 6px solid $primarySkin;
  @include span-columns(12 of 12);
}

// start Neat grid
#mainer{
  @include outer-container(800px);
  @include media("≥desktop"){

  }
}

#rowOne, #rowTwo {
  @include span-columns(12 of 12);
  @include media("≥desktop"){
    @include span-columns (6 of 12);

    img {
      width: 10em;
      height: 10em;
    }

    #one {
      img {
      
      margin-left: 0px;
      }
    }

    #two {
      img {
       
      }
    }

    #three {
    }

    #four {
    }

    .wurdz {
        font-size: 6em;
    }
  }
}

#one, #two, #three, #four {
  @include span-columns(12 of 12);
}

// start vector class styling
.svgeez {
  list-style: none;
  margin-bottom: 10px;
}





// vector style
img {
  float: left;
  margin-left: 0.5em;
  width: 14em;
  height: 14em;
  background-color: $primarySkin;
  margin: 0px 10px 20px 0px;
  border-radius: 50%;
  border: 5px solid black;
}

//vector label styling
.wurdz {
  display: block;
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
  font-family: $bebas;
  font-size: 9em;
}

//footer
#iconCreditLine {
  text-align: center;
  font-size: 0.3em;
  font-family: helvetica;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 10%;

  a {
    text-decoration: none;
    color: #ff8b94;
  }

  span {
    color: #add8e6;
  }
}

