<div id="about">
	<h2 id="aboutMe" class="toggleHeads" ng-click="reveal('aboutMe')">about</h2>
	<p id="meP" class="abouts">I have been an educator, a filmmaker, and now a front-end web developer. I am a devout adherent to the words of John Steinbeck and Somerset Maugham. I also have a borderline clinical-grade obsesssion with just about every sport. Do not watch Michigan State basketball with me if you have a weak stomach or an aversion to the vernacular of sailors.</p>
</div>

<!-- BRING BACK IN WHEN OPTIMIZED -->
<!-- <div id="tats">
	<h2 id="ink" class="toggleHeads" ng-click="reveal('ink')">Tattoos</h2>
	<p id="metats" class="abouts">If you want to know about the under-the-water part of my metaphorical iceberg, indulge in the literature about my tats below.</p>
	
</div> -->

 <div id="con">
	<h2 id="tact" class="toggleHeads" ng-click="reveal('tact')">contact</h2>
	<p id="aboutMeh" class="abouts"><a href="mailto:theheaphy@gmail.com?Subject=Hola" target="_top">Email me</a> or ch-ch-check me out at the social media links below.</p>
</div>

<!-- back to nav or to next section partial -->
<div id="moveRow">
	<div id="nav">
		<a href="#/nav">
			<p>nav</p>
		</a>
	</div>

	<div id="next">
		<a href="#/resume">
			<p>next</p>
		</a>
	</div>
</div>