<div id="about">
	<h2 id="aboutMe" class="toggleHeads" ng-click="reveal('aboutMe')">about</h2>
	<p id="meP" class="abouts">Some people I know, and a bunny. Named rowboat.</p>
</div>

<div id="tats">
	<h2 id="ink" class="toggleHeads" ng-click="reveal('ink')">Tattoos</h2>
	<p id="metats" class="abouts">If you want to know about the under-the-water part of my metaphorical iceberg, indulge in the literature about my tats below.</p>
	
</div>

 <div id="con">
	<h2 id="tact" class="toggleHeads" ng-click="reveal('tact')">contact</h2>
	<p id="metats" class="abouts">Shoot me a line, send me a buzz</p>
	
</div>

<!-- back to nav or to next section partial -->
<div id="moveRow">
	<div id="nav">
		<a href="#/nav">
			<p>nav</p>
		</a>
	</div>

	<div id="next">
		<a href="#/resume">
			<p>next</p>
		</a>
	</div>
</div>