<!-- my work partial -->

<!-- DCT --> 
<div id="dct" ng-click="reveal('dct')">
	<h2 id="dctHeader" class="toggleHeads">Detroit Community Table</h2>
	<p  id="dctAbout" class="abouts">This is the final project my group produced for our JavaScript bootcamp at Grand Circus Detroit. Everyday at lunch we would trade restaurant recommendations, which we then, of course, forgot by the next day. We decided to build a Detroit specific app that allowed a user to save recomendations and search local restaurants.</p>
	<img id="dctLander" class="" src="../images/dct.jpg"/>
	
</div>

<!-- learning-->
<div id="stackBox" ng-click="reveal('stackBox')">
	<h2 id="stackHead" class="toggleHeads">Learning!</h2>
	<p id="learningAbout" class="abouts">Learning is tite</p>
	<section id="stacksContainer">
		<div id="meanStack">
			<img class="mean" src="../images/stacks/MongoDB-Logo.svg">
			<img id="express" class="mean" src="../images/stacks/express.svg">
			<img class="mean" src="../images/stacks/AngularJS_logo.svg">
			<img class="mean" src="../images/stacks/nodejs-light.svg">
		</div>
	</section>
</div>

<!-- this site -->
<div id="siteAbout" ng-click="reveal('siteAbout')">
	<h2 class="toggleHeads" id="thisSiteHead">This Site</h2>
	<p id="aboutThisSite" class="abouts">This site was built with: Gulp, Sass, Bourbon/Neat, Jquery, and AngularJS.</p>
</div>

<!-- github -->
<div id="gitty" ng-click="reveal('gitty')">
	<h2 class="toggleHeads" id="gitShow">See the Code</h2>
	<p id="thisGit">GitHub</p>
</div>

<!-- home button -->
<div id="homeButton">
	<a href="#/home">
		<p>home</p>
	</a>
</div>


