<!-- the documentary -->
<div id="banking" target-blank>
	<h2 id="bankHead" class="toggleHeads" ng-click="reveal('bankHead')">Banking on Trust</h2>
	<p id="botAbout" class="abouts"><a href="http://bankingontrust.com/">This is a documental.</a></p>
	<iframe id="bot" class="" src="https://player.vimeo.com/video/35612754?title=0&byline=0&portrait=0"  height="320" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<!-- personal photgraphy -->
<div id="photog">
	<h2 id="personalPics" class="toggleHeads" ng-click="reveal('personalPics')">Personal Photography</h2>
	<p id="botAbout" class="abouts">Pictures I've taken of people and places over the years. Some digital, some analog</p>
	<div id="pinkBox">
		<div class="slickCarousel" id="slickPics">
			<div>
				<img class="caroPics" src="images/panda.jpg">
			</div>
			<div>
				<img class="caroPics" src="http://placehold.it/200/300">
			</div>
			<div>
				<img class="caroPics" src="images/woody.jpg">
			</div>
			<div>
				<img class="caroPics" src="http://placehold.it/200/300">
			</div>
			<div>
				<img class="caroPics" src="images/bigWaterTower.jpg">
			</div>
		</div>
	</div>
</div>

<!-- back to nav or to next section partial -->
<div id="moveRow">
	<div id="nav">
		<a href="#/nav">
			<p>nav</p>
		</a>
	</div>

	<div id="next">
		<a href="#/me">
			<p>next</p>
		</a>
	</div>
</div>
